/* Add styling for your page here */

.App {
    display: flex;
    flex-direction: row;

}

.ItemsContainer {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Cart {
    border: black;
}